streamlit
langchain
langchain-groq
chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-community
torchvision
#types of documents
pypdf
python-docx
openpyxl
unstructured
python-dotenv
tiktoken