streamlit
langchain
langchain-groq
chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
langchain_community
langchain.core
torchvision
#types of documents
pypdf
python-docx
openpyxl
unstructured
python-dotenv
tiktoken